html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
a{background-color:transparent}a:active,a:hover{outline-width:0}

html,body{font-family: Cambria, Georgia, serif;font-size:15px;line-height:1.8; height:100%;}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:25px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}

.proceed-buttons{
	margin-top: 5%;
	text-align: center;
}

.proceed-button {

  background-color: #192b3b;
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  border-radius: 8px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  font-size: 25px;
}

.proceed-button:hover {
  background-color: #929292;
  cursor: pointer;
}

#container-navbar{
  position:fixed;
  width:100%;
  z-index:1;
  top:0;
}

#navbar{
 width:100%;
 overflow:hidden;
  color:#000!important;
  background-color:#fff!important;
  padding: 8px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.bar-item{
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0;
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:192b3b;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}

#right-bar{
  float:right!important;
}

#home{
  background-position: center;
  background-size: cover;
  min-height: 100%;
  position:relative;
  filter:grayscale(50%);
}

#footer{
  display:inline-block;
  width:100%;
  color:#fff!important;
  background-color:#192b3b!important;
  padding-top:64px!important;padding-bottom:64px!important;

}

#footer-container{
  font-size:24px!important;
  margin-top:16px!important;margin-bottom:16px!important;


}


