<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>devix</title>
<meta charset="UTF-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/xstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<div th:replace="fragments/header ::header"></div>



<!-- Header with full-height image -->
<header id="home" style="padding:150px">
    <h1>About Us</h1>
</header>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
