<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>devix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/xstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
body, html {
  height: 100%;
}
</style>
</head>
<body>

<div class="sidenav">
    <div id="linkContainer">
        <h5 style="color: #8e9297;">Control Panel</h5>
        <div class="link-container">
            <a href="/cp/main">Overview</a>
        </div>
        <div class="link-container">
            <a href="/cp/users">Users</a>
        </div>
        <div class="link-container">
            <a href="/cp/roles">Roles</a>
        </div>
        <div class="link-container">
            <a href="/cp/tags">Tags</a>
        </div>
    </div>
</div>

<div class="main">

    <form th:object="${tag}" method="POST">
        <div class="container">
            <hr>
            <h3 style="color:#b43636;"></h3>
            <label for="tagName"><b>Tag name</b></label>
            <input th:field="*{name}" type="text" placeholder="Enter tag name" name="tagName" required>

            <label for="tagDesc"><b>Tag description</b></label>
            <textarea th:field="*{description}" id="message" placeholder="Enter tag description" name="tagDesc" required></textarea>
            <hr>
            <div style="margin: 0 auto; text-align: center;">
                <button type="submit" class="proceed-button">Add Tag</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>
