<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>devix</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/xstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<!-- Navbar (sit on top) -->
<div id="container-navbar">
    <div id="navbar">
        <a href="/" id="logo"class="bar-item"><span style="color: #192b3b">dev</span><span style="color: #b43636">i</span><span style="color: #192b3b">x</span></a>
        <!-- Right-sided navbar links -->
        <div id="right-bar">
            <a href="/about"  th:if="${session.user == null}" class="bar-item">About</a>
            <a th:if="${session.user != null}" class="bar-item" href="/new-project">Add project</a>


            <a href="/contact" th:if="${session.user == null}" class="bar-item">Contact</a>
            <a href="/explore" th:if="${session.user != null}" class="bar-item">Explore</a>

            <a href="/register" th:if="${session.user == null}" class="bar-item">Sign Up</i></a>
            <a th:href="@{/user/{username}(username=${user.username})}" th:unless="${session.user == null}" th:text=${user.username} class="bar-item"></i></a>
        </div>
    </div>
</div>


<!-- Header with full-height image -->
<header id="home" style="padding:150px">
    <h1>Control Panel</h1>
    <table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Registration</th>
        <th>Reputation</th>
        <th>First Name</th>
        <th>Second Name</th>
    </tr>
    <tr th:each = "user : ${users}">
        <td th:text="${user.get('userID')}"></td>
        <td th:text="${user.get('username')}"></td>
        <td th:text="${user.get('email')}"></td>
        <td th:text="${user.get('Registration')}"></td>
        <td th:text="${user.get('Reputation')}"></td>
        <td th:text="${user.get('name')}"></td>
        <td th:text="${user.get('surname')}"></td>
    </tr>
    </table>

</header>

<!-- Footer -->
<footer id="footer">
    <div id="footer-container" style="text-align: center;">
        <i class="fa fa-twitter x-hover-opacity"></i>
        <i class="fa fa-facebook-official x-hover-opacity"></i>
        <i class="fa fa-instagram x-hover-opacity"></i>
    </div>
</footer>

</body>
</html>
