<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>devix</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/xstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<!-- Navbar (sit on top) -->
<div id="container-navbar">
    <div id="navbar">
        <a href="/" id="logo"class="bar-item"><span style="color: #192b3b">dev</span><span style="color: #b43636">i</span><span style="color: #192b3b">x</span></a>
        <!-- Right-sided navbar links -->
        <div id="right-bar">
            <a href="/about"  th:if="${session.user == null}" class="bar-item">About</a>
            <a th:if="${session.user != null}" class="bar-item" href="/new-project">Add project</a>


            <a href="/contact" th:if="${session.user == null}" class="bar-item">Contact</a>
            <a href="/explore" th:if="${session.user != null}" class="bar-item">Explore</a>

            <a href="/register" th:if="${session.user == null}" class="bar-item">Sign Up</i></a>
            <a th:href="@{/user/{username}(username=${session.user.username})}" th:unless="${session.user == null}" th:text=${session.user.username} class="bar-item"></i></a>
        </div>
    </div>
</div>

<!-- Header with full-height image -->
<header id="home" style="padding-top:150px">
    <h1 style="color:red;" th:text="${message}"></h1>
    <h1>Explore Projects</h1>
    <br>
    <div class="grid-container">
        <div class="grid-item" th:each = "project : ${projects}">
            <div id="firstSection">
                <a th:href="@{/user/{username}(username=${project.username})}" th:text="${project.username}"></a>-<a href="#"><b th:text="${project.projectName}"></b></a></div>
            <div style="color: #7e8c65; float: right;">
                <i class="fa fa-star"></i><span style="margin-left: 2px;" th:text="${project.rating}"></span>
            </div>
            <div id="secondSection">
      <span th:text="${project.projectDescription}">
    </span>
            </div>
            <div id="thirdSection"><span>Tags:</span></div>
        </div>
    </div>
</header>

<!-- Footer -->
<footer id="footer">
    <div id="footer-container" style="text-align: center;">
        <i class="fa fa-twitter x-hover-opacity"></i>
        <i class="fa fa-facebook-official x-hover-opacity"></i>
        <i class="fa fa-instagram x-hover-opacity"></i>
    </div>
</footer>

<script type="text/javascript">
      function rename(){
        var filename;
        var fullPath = document.getElementById('file').value;
    if (fullPath) {
    var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
     filename = fullPath.substring(startIndex);
    if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
        filename = filename.substring(1);
    }
}
      if(filename.length > 16){
        filename = filename.substring(0,13) + "...";
      }
      var label = document.getElementById("file-label");
      label.innerHTML = filename;
  }

  function openForm(){
  document.getElementById("upload-form").style.display = "block";
  }

  function closeForm(){
  document.getElementById("upload-form").style.display = "none";
  }
</script>

</body>
</html>
