<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>devix</title>
<meta charset="UTF-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/xstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<div th:replace="fragments/header ::header"></div>


<!-- Header with full-height image -->
<header id="home" style="padding:150px">
    <h1 style="text-align: center;">Have you developed an awesome software?</h1>
    <h2 style="text-align: center;">But unfortunately there are not many platforms to upload your software... Don't worry, we have you covered! Devix is a free and secure platform for developers to upload their software and benefit from software of other people!</h2>
    <div class="proceed-buttons">
        <a alt="Log in to devix" href="/register" class="proceed-button" >Get Started</a>
        <a alt="explore devix projects" href="/explore" class="proceed-button">Explore projects</a></div>
</header>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
