<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>devix</title>
<meta charset="UTF-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/xstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<div th:replace="fragments/header ::header"></div>

<!-- Header with full-height image -->
<header id="home" style="padding:150px;">
    <div id="tags_list">

        <div id="tags-browser">
            <div th:each="tag : ${tags}">
                <p class="tag-link" style="font-size: 12px;" href="/#" th:text="${tag.name}"></p><span><span>×</span>&nbsp;<span th:text="${tag.usage}"></span></span>
                <div style="box-sizing: content-box;
    font-size: 12px;
    height: 39px;
    line-height: 14px;
    overflow: hidden;
    margin-bottom: 4px;" id="description" th:text="${tag.description}"></div>
                <div>
                    <a style="font-size: 12px;" th:text="'Added on '+${tag.dateAdded}+''"></a>
                </div>
            </div>

        </div>


    </div>

    <div class="pager">
        <a th:each="i: ${#numbers.sequence(1, pages)}" th:href="@{/tags?page={number}(number=${i})}"> <span class="page-numbers" th:text="${i}"></span> </a>
    </div>

</header>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
