<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>devix</title>
<meta charset="UTF-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/xstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<div th:replace="fragments/header ::header"></div>

<!-- Header with full-height image -->
<header id="home" style="padding:150px">
    <h1>Add a new project</h1>
    <br>

    <form th:object="${upload}" method="POST" enctype="multipart/form-data">
        <div class="container">
            <hr>
            <label for="projectname"><b>Project name</b></label>
            <input type="text" th:field="*{projectName}" placeholder="Choose a Project name" name="projectname" required>
            <label for="projectdesc"><b>Project description</b></label>
            <textarea th:field="*{projectDescription}" style="border: 1px solid;" type="textarea" name="projectdesc" id="message" placeholder="Enter project description" required></textarea>
            <input type="file" name="file" id="file" onchange="rename()" />
            <label id="file-label" for="file"><i id="upload-icon" class="fa fa-upload" aria-hidden="true"></i>Upload a file...</label>

            <label for="tags"><b>Tags</b></label>
            <input id="tags" type="text" placeholder="Add tags to your project" name="tags">

            <div id="tagsContainer">
                <i id="addTag" class="fa fa-plus-circle"></i>
            </div>


            <hr>
            <div style="margin: 0 auto; text-align: center;">
                <button type="submit" class="proceed-button">Upload</button>
            </div>
        </div>
    </form>


</header>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h4>Add tag</h4>
        <input id="tagsInput" type="text" name="tagsInput">
    </div>

</div>
<footer th:replace="fragments/footer :: footer"></footer>

<script type="text/javascript" src="/js/upload.js"></script>
</body>
</html>
