<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>devix</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/xstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<!-- Navbar (sit on top) -->
<div id="container-navbar">
    <div id="navbar">
        <a href="/" id="logo"class="bar-item"><span style="color: #192b3b">dev</span><span style="color: #b43636">i</span><span style="color: #192b3b">x</span></a>
        <!-- Right-sided navbar links -->
        <div id="right-bar">
            <a href="/about"  th:if="${session.user == null}" class="bar-item">About</a>
            <a th:if="${session.user != null}" class="bar-item" href="/new-project">Add project</a>


            <a href="/contact" th:if="${session.user == null}" class="bar-item">Contact</a>
            <a href="/explore" th:if="${session.user != null}" class="bar-item">Explore</a>

            <a href="/register" th:if="${session.user == null}" class="bar-item">Sign Up</i></a>
            <a th:href="@{/user/{username}(username=${signedUser.username})}" th:unless="${session.user == null}" th:text=${signedUser.username} class="bar-item"></i></a>
        </div>
    </div>
</div>

<div id="left-bar">
    <div id="description">
        <h3 id="username" th:style="'color:'+${user.role.colour}+'; '+${user.role.colour}+';'">
            <span th:if="${user.role.name == 'Administrator'}" th:text="${user.username}" class="admin"></span>
            <span th:unless="${user.role.name == 'Administrator'}" th:text="${user.username}"></span>
            <i id="editUsername" onclick="editUsername()" style="float: right;" th:if="${changeUsername == true}" class="fa fa-edit"></i>
        </h3>
        <form id="usernameInput" style="display:none;" method="POST">
        <input type="text" name="newUsername" th:value="${user.username}"/>
        </form>
        <h4 th:style="'color:'+${user.role.colour}+''" th:text="${user.role.name}"></h4>
    </div>
    <div id="profile" th:style="'background-image:url(' + ${user.profilePictureLocation} + ');'"></div>
    <div id = "details">
        <p>Registration: <span th:text="${user.registration}"></span></p>
        <p>Reputation: <span th:text="${user.reputation}"></span></p>
        <p>Uploads: </p>
    </div>
</div>
<div id="tab-bar">
    <div id="tab-buttons">
        <button class="tablinks" onclick="openTab(event, 'messages')">Message Board</button>
        <button class="tablinks" onclick="openTab(event, 'uploads')">Uploads</button>
        <button th:if="${session.user != null && user.username== user.username}" class="tablinks" onclick="openTab(event, 'edit')">Edit Profile</button>
    </div>
    <div id="tabs">
        <div id="messages" class="tabcontent" style="display: block;">
            <textarea id="message"></textarea>
            <button id="send-message">Send Message</button>
        </div>

        <div id="uploads" class="tabcontent">
            <h3>Uploads</h3>
        </div>

        <div id="edit" class="tabcontent" style="display: none;">
            <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="file" />
            <label id="file-label" for="file"><i id="upload-icon" class="fa fa-upload" aria-hidden="true"></i>Upload a Picture...</label>
            <input id="upload-submit" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<footer id="footer">
    <div id="footer-container" style="text-align: center;">
        <i class="fa fa-twitter x-hover-opacity"></i>
        <i class="fa fa-facebook-official x-hover-opacity"></i>
        <i class="fa fa-instagram x-hover-opacity"></i>
    </div>
</footer>

<script>
function openTab(evt, tabName) {
  var i, tabcontent;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  document.getElementById(tabName).style.display = "block";
}

function editUsername(){
    var usernameInput = document.getElementById("usernameInput");
    var usernamePlaceholder = document.getElementById("username");
    username.style.display="none";
    usernameInput.style.display = "block";

    console.log("HI");
}
</script>

</body>
</html>
