<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>devix</title>
<meta charset="UTF-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/xstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<div th:replace="fragments/header ::header"></div>

<div id="left-bar">
    <div id="description">
        <h3 id="username" th:style="'color:'+${pageUser.role.colour}+'; '+${pageUser.role.colour}+';'">
            <span th:if="${pageUser.role.name == 'Administrator'}" th:text="${pageUser.username}" class="admin"></span>
            <span th:unless="${pageUser.role.name == 'Administrator'}" th:text="${pageUser.username}"></span>
            <i id="editUsername" onclick="editUsername()" style="float: right;" th:if="${changeUsername == true}" class="fa fa-edit"></i>
        </h3>
        <form action="?changeUsername" id="usernameInput" style="display:none;" method="POST">
        <input type="text" name="newUsername" th:value="${pageUser.username}"/>
        </form>
        <h4 th:style="'color:'+${pageUser.role.colour}+''" th:text="${pageUser.role.name}"></h4>
    </div>
    <div id="profile" th:style="'background-image:url(' + ${pageUser.profilePictureLocation} + ');'"></div>
    <div id = "details">
        <p>Registration: <span th:text="${pageUser.registration}"></span></p>
        <p>Reputation: <span th:text="${pageUser.reputation}"></span></p>
        <p>Uploads: </p>
    </div>
</div>
<div id="tab-bar">
    <div id="tab-buttons">
        <button class="tablinks" onclick="openTab(event, 'messages')">Message Board</button>
        <button class="tablinks" onclick="openTab(event, 'uploads')">Uploads</button>
        <button th:if="${session.user != null && user.username== pageUser.username}" class="tablinks" onclick="openTab(event, 'edit')">Edit Profile</button>
        <button th:if="${session.user != null && roleManagement == true}" class="tablinks" onclick="openTab(event, 'management')">Manage User</button>
    </div>
    <div id="tabs">
        <div id="messages" class="tabcontent" style="display: block;">
            <textarea id="message"></textarea>
            <button id="send-message">Send Message</button>
        </div>

        <div id="uploads" class="tabcontent">
            <h3>Uploads</h3>
        </div>

        <div id="edit" class="tabcontent" style="display: none;">
            <form action="?changeFile" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="file"/>
            <label id="file-label" for="file"><i id="upload-icon" class="fa fa-upload" aria-hidden="true"></i>Upload a Picture...</label>
            <input id="upload-submit" type="submit" value="Submit" />
            </form>
        </div>

        <div id="management" class="tabcontent">
            <h3>Manage</h3>
                <form action="?manageUser" method="POST">
                    <select name="role">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
                    </select>
                    <input type="submit" value="Submit" />
                </form>
            <form action="?removeRole" method="POST">
                <select name="role">
                    <option th:each="userRole : ${userRoles}" th:value="${userRole}" th:text="${userRole}"></option>
                </select>
                <input type="submit" value="Remove" />
            </form>

        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

<script>
function openTab(evt, tabName) {
  var i, tabcontent;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  document.getElementById(tabName).style.display = "block";
}

function editUsername(){
    var usernameInput = document.getElementById("usernameInput");
    var usernamePlaceholder = document.getElementById("username");
    username.style.display="none";
    usernameInput.style.display = "block";
}
</script>

</body>
</html>
